button {
  font-family: "Anton", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.15em;

  transition: transform 0.1s ease;
}

button:hover {
  transform: scale(1.05);
}

button:active {
  transform: scale(0.95);
}