button {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

  transition: transform 0.1s ease;
}

button:hover {
  transform: scale(1.05);
}

button:active {
  transform: scale(0.95);
}