:root {
  --green: 40, 151, 83;
  --yellow: 249, 199, 48;
}

body {
  background-image: url("../content/3dBrazilUpscale.jpeg");
  background-size: cover;
  background-attachment: fixed;
  backdrop-filter: blur(2px);

  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-transform: uppercase;
}

p {
  color: rgb(var(--yellow));
  -webkit-text-stroke: 1px black;
  font-size: 150%;
}

.game {
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 50px;
}

#game-title {
  color: rgb(var(--yellow));
  font-size: 400%;
  -webkit-text-stroke: 2px black;

  margin-bottom: -10px;
}