.zone[data-zone="shop"] {
  background: rgb(var(--green), 0.3);
  border: 3px solid rgb(var(--green));
}

.zone[data-zone="shop"] .zone-title {
  color: rgb(var(--green));
}

.upgrade {
  width: 250px;
  background: rgb(var(--green), 0.5);

  border: solid 3px rgb(var(--green));
  border-radius: 10px;

  cursor: pointer;
}

.upgrade strong {
  color: rgb(var(--yellow));
  -webkit-text-stroke: 0.5px black;
}

.upgrade-title {
  font-size: 200%;

  margin-top: 2px;
  margin-bottom: 5px;
}

.upgrade-info {
  font-size: 140%;

  display: flex;
  flex-direction: column;
  align-items: start;
}