#shop-tittle {
  margin-bottom: 100px;
}

#upgrade-bolsonaro-click-button {
  background-color: rgb(180, 182, 41);
  font-size: 110%;
  border: 3px solid black;
  border-radius: 5px;
  cursor: pointer;
}

#upgrade-bolsonaro-click-button:hover {
  filter: brightness(1.1);
  transform: scale(1.02);
}

#upgrade-bolsonaro-click-button:active {
  transform: scale(0.95);
}
