.button {
  font-family: 'Anton', sans-serif;
  text-transform: uppercase;
  letter-spacing: 5%;

  background: rgb(var(--green), 0.5);
  border: solid 3px rgb(var(--green));
  border-radius: 10px;

  cursor: pointer;
  transition: transform 0.1s ease;
}

.button:hover {
  transform: scale(1.05);
}

.button:active {
  transform: scale(0.95);
}